
<div *ngFor="let d of displaydress" style="border:none;">
    <div class="row">
        <!--2nd column-->
            <div class="card-body col-lg-12">
                <div class="row" style="margin-top:5px; background-color:rgb(98, 141, 143); border-style:solid;border-color:darkgreen;border-radius:10px;">
                    <div class="col-lg-3">
                        
                        <img [src]="d.img">
                    </div>
                    <div class="col-lg-9" style="margin-top:10px;">
                        <!--Interpolation Binding-->
                           <b style="color: crimson;"> {{d.pid}}: {{d.pname | uppercase}}</b>
                    
                          <h6 style="color:darkmagenta;">  {{d.price | currency:'INR'}} </h6>
                      
                        <hr>
                            <span style="color:darkblue">Description: {{d.pdescription}}</span><br>
                        
                            <div class="row">
                                <div class="col-lg-4">
                                    <app-counterchild (countEmmitter)="receiveValue($event)"></app-counterchild>
                                </div>   
                                <div class="col-lg-4">
                                <button class="btn btn-dark m-2" (click)="addToCart(d)" style="width:120px;border-radius:10px;">Add to Cart</button> 
                                   
                                </div>
                            </div>
                          

                           
                           
                    </div>
                </div>
        </div>
    </div>
</div>
