<app-suggestion></app-suggestion>

<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/mobile.jfif" class="d-block w-100 carouselimg" alt="mobile">
      </div>
      <div class="carousel-item">
        <img src="assets/flipkart2.jfif" class="d-block w-100 carouselimg" alt="dress">
      </div>
      <div class="carousel-item">
        <img src="assets/watch.jfif" class="d-block w-100 carouselimg" alt="watch">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

      <!--ALERT-->
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Special Offer <strong>Big Sale Flat 40% Off!!!!</strong>  On all new Collections..
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <!-- Image -->
    <div class="container">
      <div class="row">
      <div class="col-3 col-sm-6 col-md-3 mt-4">
      <div class="card" style="border: 2px solid goldenrod; " >
        <img class="card-img-top" src="https://storiesflistgv2.blob.core.windows.net/stories/2017/08/Perfectbuy_banner.jpg" alt="Card image cap" class="cardimg">
        <div class="card-body">
          <p class="card-text"style="color: brown">
            Flipkart Perfect Buy — a one-stop experience for large appliance shopping. Grab the offer!! Hurry up</p>
        </div>
      </div>
      </div>
      <div class="col-3 col-sm-6 col-md-3 mt-4">
      <div class="card" style="border: 2px solid goldenrod;  " >
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQptrY-3AmjDN3S_Q-9oEzPJ9fukpqXk3Unw&usqp=CAU" alt="Card image cap"class="cardimg">
        <div class="card-body">
          <p class="card-text"style="color: brown">
            Flipkart Apple Week sale and samsung summer sale giving deals on smartphones and other products</p>
        </div>
      </div>
      </div>
      <div class="col-3 col-sm-6 col-md-3 mt-4">
      <div class="card" style="border: 2px solid goldenrod;  " >
        <img class="card-img-top" src="https://images.fonearena.com/blog/wp-content/uploads/2016/11/flipkart-everyday-essentials_1.jpg" alt="Card image cap" class="cardimg">
        <div class="card-body">
          <p class="card-text" style="color: brown">
            Flipkart has introduced caters to daily household needs. Dubbed as Everyday Essentials of different sections</p>
        </div>
      </div>
      </div>
      <div class="col-3 col-sm-6 col-md-3 mt-4">
      <div class="card" style="border: 2px solid goldenrod;  ">
        <img class="card-img-top" src="https://www.deccanherald.com/sites/dh/files/styles/largehorizontal/public/articleimages/2020/10/21/flipkart-bbd-last-day-904976-1603257119.jpg?itok=G1B48YEP" alt="Card image cap" class="cardimg">
        <div class="card-body">
          <p class="card-text"style="color: brown">
            
            Flipkart Big Billion Days October 2020 sale: Top deals on Samsung, Sony, LG smart TVs and more. Hurry Up!!</p>
        </div>
      </div>
      </div>
      </div>
      </div>

      <!-- message -->
      <div class="message">
        <img class="flipkart"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuz69cZcvhs5j6_5oPdznjVziyEPwywtmKmA&usqp=CAU" alt="Flipkart" >
       <p> We are maximisers. We're out on our own journeys to maximise - be the best at what we choose
         and care about the most - whether it be our impact, voice, potential, ideas, influence, 
         well-being or more. Because when we maximise ourselves in our inclusive teams, Flipkart is 
         able to deliver the best imaginable value for our customers, stakeholders and the planet!</p>
   
      </div>

      

      <!-- Contact -->
      <app-contact></app-contact>
  
 



