.carouselimg {
    height: 300px;
  }
  .flipkart{
    float:right;
   
    height:80px;
    width:100px;
    border-radius: 30px;

  }
  .message{
    margin:20px 50px;
    background-color:honeydew;
    padding:10px;
    color: brown;
  }
  .cardimg{
    height: 150px;
    width: 255px;
  }
  .card:hover{
    box-shadow: 10px 10px 10px;
    transform: scaleY(1.1);
}